body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar {
  margin-top: 30px;
  margin-bottom: 20px;
  background: #0383c0 url(../img/navbar.png) repeat-x;
  border: #cccccc solid;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default a:hover {
  background: none;
  color: #0383c0 !important;
  font-weight: bold;
}
.logo {
  width: 100%;
  margin: 40px 0 0 0;
  font-family: 'Oswald', sans-serif;
}
.primary {
  color: #0383c0;
}
.subtext {
  color: #666;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 0 45px;
}
header form {
  float: right;
  margin-top: 30px;
  background: #0383c0;
  padding: 15px;
  color: #fff;
  border-radius: 5px;
}
#products img {
  width: 130px;
  height: 130px;
}
